body {
  background-color: rgb(197, 219, 233);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
